<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <!-- Include Bootstrap CSS -->
    <style>
              form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.input-group label {
  margin-right: 10px;
}

.input-group input {
  flex: 1;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
input[type=text], input[type=password], input[type = number],select {

			padding: 12px 20px;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 4px;
		}
input[type=submit] {
			background-color: #4CAF50;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			border-radius: 4px;
			cursor: pointer;
		}

    input[type=submit]:hover {
			background-color: #45a049;
		}

		.container {
			padding: 16px;
		}
    body {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
body{
                background: linear-gradient(90deg, #f9f98f, #676767);
            }

        body::before {
            content: '';
            position: fixed; 
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('lb.png');
            background-size: 30%;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.7; 
            z-index: -1; /* Place the background behind the content */
        }
       



label {

  font-weight: bold;
  margin-bottom: 5px;
}

    </style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <div class="container mt-5 text-left">
        <h1 class="alert alert-secondary">Admin Dashboard</h1>
        <div class="container">
          <% if(error && error.length > 0){ %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <%= error %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          <% } %>
          <% if(success && success.length > 0){ %>
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <%= success %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          <% } %>
        </div>

        <div class="alert alert-secondary mx-auto" role="alert">
            <h4 class="alert-heading">Warning!</h4>
            <p>This is an admin rights dashboard. Please be cautious while accessing and using it, as changes here can affect the entire application.</p>
        </div>
        <div class="my-4">
            <a href="/addEmployee" class="btn btn-primary m-2">Add Employee</a>
            <a href="/viewEmployees" class="btn btn-secondary m-2">View Employees</a>
            <a href="/addProgram" class="btn btn-primary m-2">Add Program</a>
            <a href="/viewPrograms" class="btn btn-secondary m-2">View Programs</a>
            <a href="/addArea" class="btn btn-primary m-2">Add Area</a>
            <a href="/viewArea" class="btn btn-secondary m-2">View Area</a>
            <a href="/" class="btn btn-danger">Go Back</a>
        </div>
    </div>
</body>
</html>