<h1>Hi, This is Bug Hound Home Page!!!</h1>

<form action="/" method="UPDATE">
    <label>Username: </label>
    <input type="text" name="uname" id="uname">
    <input type="submit" value="Submit">
</form>

<%= uname %>