.custom-btn-group .btn {
    margin-right: -1px; 
    color: white; 
}

.full-height {
    height: 60vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}
body{
background: linear-gradient(90deg, #f9f98f, #676767);}